    h1 {
        background-color: darkcyan;
        color: white;
        padding: 20px;
        text-align: center;
        border-left: 15px solid rgb(43, 24, 39);
    }
    
    div {
        background-color: rgb(41, 66, 79);
        color: white;
        padding: 20px;
        height: 200px;
    }
    
    body {
        background-color: rgb(27, 39, 45);
    }